@charset "utf-8";


/* CSS Document */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
nav,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background: #fff;
    font: 14px PingFangSC-regular, "Microsoft YaHei", "\u5FAE\u8F6F\u96C5\u9ED1", "SimSun", "\u5B8B\u4F53", "Arial";
}

ol,
ul,
nav {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    -webkit-appearance: none;
    /* -webkit-tap-highlight-color: rgba(255, 255, 255, 0); */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    -webkit-appearance: none;
}

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    font-size: 0
}

.clearfix {
    zoom: 1
}

button {
    outline-style: none;
}

input {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

input[type="button"],
input[type="email"],
input[type="image"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="tel"],
input[type="url"],
button,
textarea,
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    resize: none;
    cursor: pointer;
    border:none;
    background: none;
    -webkit-tap-highlight-color:transparent
}
dialog{
  display: block;
  background: rgba(0,0,0,0);
  border: none;
  margin: 0;
  padding: 0;
}
