$green: #2EB6AA;
$red: #F57C6C;
$yellow: #F2BC00;
$blue: #3497CE;
$black: rgba(6, 17, 31, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(215, 215, 215, 1);
$textBlue: #264a94;
$textgreen: rgba(91, 182, 71, 1);
$lightblue: #CFEAF8;
