* {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;cursor: pointer}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}

body {font: 14px PingFangSC-regular, Microsoft YaHei, u5FAEu8F6Fu96C5u9ED1, SimSun, u5B8Bu4F53, Arial}

nav, ol, ul {list-style: none}

blockquote, q {quotes: none}

blockquote:after, blockquote:before, q:after, q:before {content: "";content: none}

table {border-collapse: collapse;border-spacing: 0}

a {text-decoration: none;-webkit-tap-highlight-color: rgba(255, 255, 255, 0)}

a, a:focus {-webkit-appearance: none}

a:focus {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);outline: none}

.clearfix:after {content: "\200B";display: block;height: 0;width: 0;clear: both;font-size: 0}

.clearfix {zoom: 1}

.fl {float: left}

.fr {float: right}

button {outline-style: none}

body, html {width: 100%;height: 100%;margin: 0 auto;-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}

button, input[type=button], input[type=email], input[type=image], input[type=number], input[type=password], input[type=reset], input[type=search], input[type=submit], input[type=tel], input[type=text], input[type=url], select, textarea {appearance: none;-moz-appearance: none;-webkit-appearance: none;outline: none;resize: none;cursor: pointer}

body {max-width: 8rem;margin: 0 auto;padding-bottom: constant(safe-area-inset-bottom)}

::-webkit-input-placeholder {color: #616363;font-size: .2rem;font-family: SourceHanSansCN-Light;font-weight: 300;opacity: .6}

.wrapper {padding: 1.35rem 0;background: #ededed;height: 100%}

.common-nav {position: fixed;width: 100%;height: 1.15rem;background: #4f7ab3;font-size: .35rem;font-weight: 700;color: #fff;line-height: 1.15rem;text-indent: .2rem;left: 0;top: 0;z-index: 10}

.common-nav, .common-title {font-family: SourceHanSansCN-Regular}

.common-title {margin: .4rem .7rem 0;font-size: .5rem;font-weight: 400;color: #264a94;opacity: .85}

.common-title.green {color: #2eb6aa}

.common-title.orange {color: #f57c6c}

.common-box {margin: .5rem .35rem;background: #fff;border-radius: .15rem;overflow: hidden}

.common-form-line {padding: .41rem .27rem 0;display: -webkit-box;line-height: .59rem}

.common-form-label {-webkit-box-flex: 1;font-size: .3rem;font-family: SourceHanSansCN-Regular;font-weight: 400;color: #264a94;opacity: .85;height: .59rem;padding-left: .2rem;position: relative}

.common-input-box {width: 4rem;font-size: .3rem;font-family: SourceHanSansCN-Regular;font-weight: 400;color: #2b2b2b;opacity: .85}

.common-input {width: 100%;height: .59rem;box-sizing: border-box;border-radius: .03rem;border: 1px solid #4f7ab3}

.common-btn {height: .9rem;text-align: center;line-height: .9rem;color: #fff;font-size: .36rem;font-family: SourceHanSansCN-Regular;font-weight: 400;display: inline-block;border-radius: .14rem}

.common-btn.big {width: 6.55rem}

.common-btn.green {background: #2eb6aa}

.common-btn.small {width: 3.08rem}

.common-btn.orange {background: #f57c6c}

.common-btn.gray {background: #a3a3a3}

.common-btn-wrap {width: 6.55rem;margin: 0 auto}

.pop-mask {width: 100%;height: 100%;left: 0;top: 0;background: rgba(0, 0, 0, .5);z-index: 999}

.pop-box, .pop-mask {position: fixed;display: none}

.pop-box {left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 5.64rem;height: 4.12rem;background: #fff;border-radius: .15rem;z-index: 1000;text-align: center}

.pop-con {margin: .42rem;min-height: 1.5rem;display: -webkit-flex;-webkit-justify-content: center;-webkit-align-items: center;font-size: .38rem;font-family: SourceHanSansCN-Regular;font-weight: 400}

.pop-box .common-btn-wrap {margin: 0 .31rem;display: -webkit-box;width: auto}

.pop-box .common-btn-wrap .common-btn {width: auto;height: .75rem;line-height: .75rem;display: block;-webkit-box-flex: 1;margin-left: .38rem}

.pop-box .common-btn-wrap .common-btn:first-child {margin-left: 0}

body {background: #fff}

.wrapper {background: url(../img/yaonuo_login_bg@2x.png) no-repeat;background-size: 100%;height: 100%;background-position: top;background-color: #1c5eb4;overflow: hidden;padding: 0}

.guoyao-logo {width: 1.72rem;height: 1.72rem;margin: 2.03rem auto 0;background: url(../img/guoyao_logo@2x.png) no-repeat;background-size: 100%}

.yaonuo-login-form {width: 5.43rem;margin: .92rem auto 0;overflow: hidden}

.yaonuo-login-input-box {margin: 1.09rem .01rem 0;height: .45rem;position: relative;padding-left: .55rem;border-bottom: .02rem solid hsla(0, 0%, 100%, .5)}

.yaonuo-login-input-icon {position: absolute;left: 0;top: 0;background-repeat: no-repeat;background-size: 100%}

.yaonuo-login-input-icon.account {width: .31rem;height: .38rem;background-image: url(../img/yaonuo_account_icon@2x.png)}

.yaonuo-login-input-icon.pw {width: .28rem;height: .37rem;background-image: url(../img/yaonuo_pw_icon@2x.png)}

.yaonuo-login-input {background: transparent;color: #fff;opacity: .5;font-size: .31rem}

::-webkit-input-placeholder {color: #fff;font-size: .31rem;opacity: .5}

.yaonuo-login-btn {width: 100%;height: .84rem;border-radius: .4rem;color: #fff;text-align: center;line-height: .84rem;font-weight: 400;background: hsla(0, 0%, 100%, .3);font-size: .36rem;margin-top: 1.32rem}

.yaonuo-login-input-tip {position: absolute;left: .57rem;bottom: -.38rem;font-size: .18rem;color: #fff;opacity: .5}
